
<script type="text/javascript" src="~/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="panel-title">Aircraft Administration</span>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-success aircraft-delete" data-toggle="modal" data-target="#CreateModal"><span class="glyphicon glyphicon-plus"></span> Add Aircraft</button>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">

                    <table id="aircraft" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Speed</th>
                                <th>FuelCapacity</th>
                                <th>FuelConsumption</th>
                                <th>TakeOffEffort</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm delete aircraft</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="modal-title" id="deleteId" style="visibility:hidden"></h5>
                <h5 class="modal-title" id="deleteIdLabel"></h5>
                <h5 class="modal-title" id="deleteName"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="deleteConfirm">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Aircraft</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5 class="modal-title" id="updateIdLabel"></h5>
                    <h5 class="modal-title" id="updateId" style="visibility:hidden"></h5>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="updateName">
                </div>

                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Speed:</label>
                    <input type="text" class="form-control" id="updateSpeed">
                </div>

                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">FuelCapacity:</label>
                    <input type="text" class="form-control" id="updateFuelCapacity">
                </div>

                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">FuelConsumption:</label>
                    <input type="text" class="form-control" id="updateFuelConsumption">
                </div>

                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">TakeOffEffort:</label>
                    <input type="text" class="form-control" id="updateTakeOffEffort">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="updateConfirm">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Aircraft</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="createName">
                </div>

                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Speed:</label>
                    <input type="text" class="form-control" id="createSpeed">
                </div>

                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">FuelCapacity:</label>
                    <input type="text" class="form-control" id="createFuelCapacity">
                </div>

                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">FuelConsumption:</label>
                    <input type="text" class="form-control" id="createFuelConsumption">
                </div>

                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">TakeOffEffort:</label>
                    <input type="text" class="form-control" id="createTakeOffEffort">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="createConfirm">Create</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        var table = $('#aircraft').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllAircraft", "Aircraft")',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "dataSrc": function (response) {
                    if (response.anomaly) {
                        alert('an exception has been occured. Code : ' + response.anomaly.code);
                    }
                    if (!response.data) {
                        response.data = [];
                    }
                    return response.data;
                }
            },
            "columns": [
                {
                    "data": "id"
                },
                { "data": "name" },
                { "data": "speed" },
                { "data": "fuelCapacity" },
                { "data": "fuelConsumption" },
                { "data": "takeOffEffort" }
            ]
            ,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                },
                {
                "targets": 6,
                    "data": null,
                    "searchable": false,
                    "orderable": false,
                    "defaultContent": '<div><button type="button" class="btn btn-info aircraft-update" data-toggle="modal" data-target="#UpdateModal"><span class="glyphicon glyphicon-pencil"></span></button>' +
                        '<button type="button" class="btn btn-danger aircraft-delete" data-toggle="modal" data-target="#DeleteModal"><span class="glyphicon glyphicon-trash"></span></button></div>'

            }]
        });

        $('#DeleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this);

            var data = table.row($(event.relatedTarget).parents('tr')).data();

            modal.find('#deleteId').val(data.id);
            modal.find('#deleteIdLabel').text('Aircraft Id: ' + data.id);
            modal.find('#deleteName').text('Aircraft Name: ' + data.name);

        });

        $('#deleteConfirm').click(function () {

            var request = $('#deleteId').val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteAircraft", "Aircraft")',

                async: false,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(request),
                success: function (response) {
                    console.log(response);
                    if (response.anomaly) {
                        alert('an exception has been occured. Code : ' + response.anomaly.code + 'message : ' + response.anomaly.message);
                    } else {
                        $('#aircraft').DataTable().ajax.reload();
                        $('#DeleteModal').modal('hide');
                    }
                }
            });
        });

        $('#UpdateModal').on('show.bs.modal', function (event) {

            var data = table.row($(event.relatedTarget).parents('tr')).data();

            var modal = $(this);

            modal.find('#updateIdLabel').text('Aircraft Id: ' + data.id);
            modal.find('#updateId').text(data.id);
            modal.find('#updateId').val(data.id);
            modal.find('#updateName').val(data.name);
            modal.find('#updateSpeed').val(data.speed);
            modal.find('#updateFuelCapacity').val(data.fuelCapacity);
            modal.find('#updateFuelConsumption').val(data.fuelConsumption);
            modal.find('#updateTakeOffEffort').val(data.takeOffEffort);
        });

        $('#updateConfirm').click(function () {
            var request = {
                Id: parseInt($('#updateId').val()),
                Name: $('#updateName').val(),
                Speed: $('#updateSpeed').val(),
                FuelCapacity: $('#updateFuelCapacity').val(),
                FuelConsumption: $('#updateFuelConsumption').val(),
                TakeOffEffort: $('#updateTakeOffEffort').val()
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateAircraft", "Aircraft")',
                async: false,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(request),
                success: function (response) {
                    if (response.anomaly) {
                        alert('an exception has been occured. Code : ' + response.anomaly.code + 'message : ' + response.anomaly.message);
                    } else {
                        $('#aircraft').DataTable().ajax.reload();
                        $('#UpdateModal').modal('hide');
                    }
                }
            });
        });

        $('#CreateModal').on('show.bs.modal', function (event) {

            var modal = $(this);
            modal.find('#createName').val('');
            modal.find('#createName').val('');
            modal.find('#createSpeed').val('');
            modal.find('#createFuelCapacity').val('');
            modal.find('#createFuelConsumption').val('');
            modal.find('#createTakeOffEffort').val('');
        });

        $('#createConfirm').click(function () {

            var request = {
                Name: $('#createName').val(),
                Speed: $('#createSpeed').val(),
                FuelCapacity: $('#createFuelCapacity').val(),
                FuelConsumption: $('#createFuelConsumption').val(),
                TakeOffEffort: $('#createTakeOffEffort').val()
            }

            console.log(request);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateAircraft", "Aircraft")',
                async: false,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(request),
                success: function (response) {
                    if (response.anomaly) {
                        alert('an exception has been occured. Code : ' + response.anomaly.code + 'message : ' + response.anomaly.message);
                    } else {
                        $('#aircraft').DataTable().ajax.reload();
                        $('#CreateModal').modal('hide');
                    }
                }
            });
        });
    });
</script>


